# Template de Variáveis de Ambiente
# Renomeie para .env e preencha os valores reais

MONGO_URI=mongodb+srv://user:pass@host.mongodb.net
MONGO_DB_NAME=QRS_CLIENTE_AMBIENTE_Relatorio
MONGO_COLLECTION_NAME=DocumentosFiscais
CSV_OUTPUT_PATH=DocumentosFiscais.csv
CLIENTE=NOME_DO_CLIENTE
AMBIENTE=homologacao
